name: Deploy Workflow # Required top-level key

on: # Required key defining when the workflow runs
  push:
    branches:
      - gh-pages

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Build project (Fixes Base Path)
        run: npm run build
        env: 
          # Fixes the 404 error by providing the necessary environment variable
          VITE_BASE_URL: /susanne-h/ 

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./dist